
* {
    box-sizing: border-box;
}
body {
    background-image: url("https://cdn.pixabay.com/photo/2013/10/16/22/42/head-196541__340.jpg");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: yellow;

}
header {
    float: left;
    margin: 60px;
    font-size: 64px;
}
p {
    float: left;
    margin-top: 150px;
    margin-left: -600px;
    font-size: 34px;
}
#wins {
    float: left;
    margin-left: -600px;
    margin-top: 210px;
    font-size: 34px;
}
#losses {
    float: left;
    margin-left: -600px;
    margin-top: 270px;
    font-size: 34px;

}
#guesses-left {
    float: left;
    margin-left: -600px;
    margin-top: 330px;
    font-size: 34px;

}
#your-guess {
    float: left;
    margin-left: -600px;
    margin-top: 390px;
    font-size: 34px;
} 